In [ ]:
import pandas as pd
import openai  # Example, you can replace with other APIs
import random
from typing import List, Dict, Callable
import numpy as np
from sentence_transformers import SentenceTransformer
from sklearn.metrics.pairwise import cosine_similarity

### This notebook was mainly for testing ###
Note that this gives some insight into the low level details of the workflow in evaluation.ipynb

In [2]:
df = pd.read_parquet("../data/066_IBM_HR/sample.parquet")
print(df.columns)

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [3]:
summary = df.describe(include="all").to_string()
print(f"Data Overview:\n{summary}")

Data Overview:
            Age Attrition BusinessTravel    DailyRate              Department  DistanceFromHome  Education EducationField  EmployeeCount  EmployeeNumber  EnvironmentSatisfaction Gender  HourlyRate  JobInvolvement   JobLevel                JobRole  JobSatisfaction MaritalStatus  MonthlyIncome   MonthlyRate  NumCompaniesWorked Over18 OverTime  PercentSalaryHike  PerformanceRating  RelationshipSatisfaction  StandardHours  StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  WorkLifeBalance  YearsAtCompany  YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
count   20.0000        20             20    20.000000                      20         20.000000  20.000000             20           20.0       20.000000                20.000000     20   20.000000       20.000000  20.000000                     20        20.000000            20       20.00000     20.000000           20.000000     20       20          20.000000          20.000000                 20.000000           20.0         20.000000          20.000000              20.000000        20.000000       20.000000            20.00000                20.000000             20.000000
unique      NaN         2              3          NaN                       2               NaN        NaN              3            NaN             NaN                      NaN      2         NaN             NaN        NaN                      6              NaN             3            NaN           NaN                 NaN      1        2                NaN                NaN                       NaN            NaN               NaN                NaN                    NaN              NaN             NaN                 NaN                      NaN                   NaN
top         NaN        No  Travel_Rarely          NaN  Research & Development               NaN        NaN  Life Sciences            NaN             NaN                      NaN   Male         NaN             NaN        NaN  Laboratory Technician              NaN        Single            NaN           NaN                 NaN      Y       No                NaN                NaN                       NaN            NaN               NaN                NaN                    NaN              NaN             NaN                 NaN                      NaN                   NaN
freq        NaN        17             15          NaN                      18               NaN        NaN             13            NaN             NaN                      NaN     14         NaN             NaN        NaN                     10              NaN             7            NaN           NaN                 NaN     20       11                NaN                NaN                       NaN            NaN               NaN                NaN                    NaN              NaN             NaN                 NaN                      NaN                   NaN
mean    35.6500       NaN            NaN   872.800000                     NaN         12.050000   2.400000            NaN            1.0       13.250000                 2.750000    NaN   68.250000        2.950000   1.550000                    NaN         2.900000           NaN     4629.35000  13601.750000            2.550000    NaN      NaN          14.550000           3.200000                  2.750000           80.0          0.800000           8.600000               2.650000         2.600000        6.050000             3.85000                 1.700000              3.800000
std      9.0744       NaN            NaN   483.662954                     NaN          9.864743   0.994723            NaN            0.0        7.158911                 1.251315    NaN   21.215374        0.759155   0.887041                    NaN         0.967906           NaN     3373.35214   5994.263002            2.928535    NaN      NaN           3.966637           0.410391                  0.966546            0.0          0.894427           6.426917               1.225819         0.598243        5.500957             3.03098                 2.364207              3.036619
min     22.0000       NaN            NaN   103.000000                     NaN          1.000000   1.000000            NaN            1.0        1.000000                 1.000000    NaN   31.000000        2.000000   1.000000                    NaN         1.000000           NaN     2028.00000   2396.000000            0.000000    NaN      NaN          11.000000           3.000000                  1.000000           80.0          0.000000           1.000000               0.000000         1.000000        0.000000             0.00000                 0.000000              0.000000
25%     29.7500       NaN            NaN   361.750000                     NaN          2.000000   2.000000            NaN            1.0        7.750000                 1.750000    NaN   49.750000        2.000000   1.000000                    NaN         2.000000           NaN     2687.25000   9669.750000            0.000000    NaN      NaN          11.750000           3.000000                  2.000000           80.0          0.000000           6.000000               2.000000         2.000000        2.000000             2.00000                 0.000000              1.500000
50%     33.5000       NaN            NaN  1053.500000                     NaN         11.500000   2.000000            NaN            1.0       13.500000                 3.000000    NaN   72.500000        3.000000   1.000000                    NaN         3.000000           NaN     3183.00000  13141.000000            1.000000    NaN      NaN          13.000000           3.000000                  3.000000           80.0          1.000000           7.500000               3.000000         3.000000        5.500000             3.00000                 1.000000              3.000000
75%     38.0000       NaN            NaN  1329.500000                     NaN         21.500000   3.000000            NaN            1.0       19.250000                 4.000000    NaN   86.000000        3.250000   2.000000                    NaN         4.000000           NaN     5156.75000  16590.750000            5.000000    NaN      NaN          16.250000           3.000000                  3.250000           80.0          1.000000          10.000000               3.000000         3.000000        8.250000             7.00000                 3.000000              7.000000
max     59.0000       NaN            NaN  1392.000000                     NaN         27.000000   4.000000            NaN            1.0       24.000000                 4.000000    NaN   96.000000        4.000000   4.000000                    NaN         4.000000           NaN    15427.00000  24907.000000            9.000000    NaN      NaN          23.000000           4.000000                  4.000000           80.0          3.000000          31.000000               5.000000         3.000000       25.000000             9.00000                 8.000000              8.000000

In [ ]:
ZERO_SHOT = [
    "What is the average MonthlyIncome of employees in the Sales department?",
    "How many employees have a JobSatisfaction rating of 4?",
    "What is the most common JobRole among employees with high PerformanceRating?",
    "What percentage of employees have worked at more than 3 companies?",
    "Is there a correlation between YearsAtCompany and Attrition?",
]

In [5]:
FEW_SHOT = [
    {"question": "What is the average age of employees?", "answer": "The average age of employees is 35.65 years."},
    {"question": "How many employees work in the IT department?", "answer": "There are 50 employees in the IT department."},
    {"question": "What is the median MonthlyIncome?", "answer": "The median MonthlyIncome is $4629."},
]

Going to test different prompting methods:
- single shot
- few shot
- rag (generate context from data, using few shot and single shot)

In [6]:
def literal_context(df: pd.DataFrame) -> str:
    """Converts the entire DataFrame to a structured text format."""
    return f"Dataset:\n{df.to_string(index=False)}"

In [7]:
def summary_context(df: pd.DataFrame) -> str:
    summary = df.describe(include="all").to_string()
    return f"Data Overview:\n{summary}"

In [ ]:
def similarity_context(query: str, table: pd.DataFrame, embedder, k: int = 3) -> str:
    """
    Retrieves the top-k rows from a DataFrame that are most relevant to the query.
    
    Parameters:
        query (str): The user's query or question.
        table (pd.DataFrame): The tabular data containing information.
        embedder: An embedding model with an `encode` method that converts text into a vector.
        k (int): Number of top rows to retrieve (default is 3).
    
    Returns:
        str: A context string containing the retrieved rows, formatted for use in an LLM prompt.
    """
    # Convert each row of the table into a string (you can adjust the join separator as needed)
    row_texts = table.astype(str).agg(' | '.join, axis=1).tolist()
    # Compute the embedding for the query
    query_embedding = embedder.encode(query)
    row_embeddings = np.array([embedder.encode(text) for text in row_texts])
    similarities = cosine_similarity([query_embedding], row_embeddings)[0]
    # Identify the indices of the top-k most similar rows
    top_indices = np.argsort(similarities)[::-1][:k]
    retrieved_context = "\n".join([row_texts[i] for i in top_indices])    
    context = f"Retrieved relevant data:\n{retrieved_context}\n"
    return context

In [ ]:
def query_llm_zero_shot(model: str, question: str, context_method: Callable, data: pd.DataFrame) -> str:
    context = context_method(data)
    response = openai.ChatCompletion.create(
        model = model,
        messages = [
            {"role": "system", "content": "You are a data analyst answering questions about a company dataset."},
            {"role": "user", "content": f"Dataset Summary: {context}\n\nQuestion: {question}"},
        ],
    )
    return response["choices"][0]["message"]["content"]

In [ ]:
def query_llm_few_shot(model: str, question: str, context_method: Callable, data: pd.DataFrame) -> str:
    """Sends a query to the specified LLM with few-shot examples."""
    context = context_method(data)
    messages = [
        {"role": "system", "content": "You are a data analyst answering questions about a company dataset."},
    ]
    
    # Add few-shot examples to improve response quality
    for example in FEW_SHOT:
        messages.append({"role": "user", "content": example["question"]})
        messages.append({"role": "assistant", "content": example["answer"]})
    
    # Add actual question and context
    messages.append({"role": "user", "content": f"Dataset Summary: {context}\n\nQuestion: {question}"})
    
    response = openai.ChatCompletion.create(
        model=model,
        messages=messages,
    )
    return response["choices"][0]["message"]["content"]