In [1]:
import pandas as pd
import rich

In [2]:
import pandas as pd
ibm_hr = pd.read_parquet("/Users/tonypiacentini/csc-306-Project-4/src/data/066_IBM_HR/sample.parquet")
tripadvisor = pd.read_parquet("/Users/tonypiacentini/csc-306-Project-4/src/data/067_TripAdvisor/sample.parquet")
worldBank = pd.read_parquet("/Users/tonypiacentini/csc-306-Project-4/src/data/068_WorldBank_Awards/sample.parquet")
taxonomy = pd.read_parquet("/Users/tonypiacentini/csc-306-Project-4/src/data/069_Taxonomy/sample.parquet")
openfoodfacts = pd.read_parquet("/Users/tonypiacentini/csc-306-Project-4/src/data/070_OpenFoodFacts/sample.parquet")
col = pd.read_parquet("/Users/tonypiacentini/csc-306-Project-4/src/data/071_COL/sample.parquet")
admissions = pd.read_parquet("/Users/tonypiacentini/csc-306-Project-4/src/data/072_Admissions/sample.parquet")
med_cost = pd.read_parquet("/Users/tonypiacentini/csc-306-Project-4/src/data/073_Med_Cost/sample.parquet")
lift = pd.read_parquet("/Users/tonypiacentini/csc-306-Project-4/src/data/074_Lift/sample.parquet")
mortality = pd.read_parquet("/Users/tonypiacentini/csc-306-Project-4/src/data/075_Mortality/sample.parquet")
nba = pd.read_parquet("/Users/tonypiacentini/csc-306-Project-4/src/data/076_NBA/sample.parquet")
gestational = pd.read_parquet("/Users/tonypiacentini/csc-306-Project-4/src/data/077_Gestational/sample.parquet")
fires = pd.read_parquet("/Users/tonypiacentini/csc-306-Project-4/src/data/078_Fires/sample.parquet")
coffee = pd.read_parquet("/Users/tonypiacentini/csc-306-Project-4/src/data/079_Coffee/sample.parquet")
books = pd.read_parquet("/Users/tonypiacentini/csc-306-Project-4/src/data/080_Books/sample.parquet")

In [3]:
data = pd.DataFrame(columns = ['DataSet','DataRaw'])
data.loc[len(data)] = ['066_IBM_HR', ibm_hr.to_csv(index=False)]
data.loc[len(data)] = ['067_TripAdvisor', tripadvisor.to_csv(index=False)]
data.loc[len(data)] = ['068_WorldBank_Awards', worldBank.to_csv(index=False)]
data.loc[len(data)] = ['069_Taxonomy', taxonomy.to_csv(index=False)]
data.loc[len(data)] = ['070_OpenFoodFacts', openfoodfacts.to_csv(index=False)]
data.loc[len(data)] = ['071_COL', col.to_csv(index=False)]
data.loc[len(data)] = ['072_Admissions', admissions.to_csv(index=False)]
data.loc[len(data)] = ['073_Med_Cost', med_cost.to_csv(index=False)]
data.loc[len(data)] = ['074_Lift', lift.to_csv(index=False)]
data.loc[len(data)] = ['075_Mortality', mortality.to_csv(index=False)]
data.loc[len(data)] = ['076_NBA', nba.to_csv(index=False)]
data.loc[len(data)] = ['077_Gestational', gestational.to_csv(index=False)]
data.loc[len(data)] = ['078_Fires', fires.to_csv(index=False)]
data.loc[len(data)] = ['079_Coffee', coffee.to_csv(index=False)]
data.loc[len(data)] = ['080_Books', books.to_csv(index=False)]

In [4]:
avgAge = (ibm_hr['Age'].sum() / ibm_hr['Age'].count())
print(avgAge)

35.65

In [5]:
print(data['DataRaw'])

0     Age,Attrition,BusinessTravel,DailyRate,Departm...
1     ratings,title,text,author,date_stayed,offering...
2     Procurement Method,Fiscal Year,Project Global ...
3     Unique ID,Parent,Name,Tier 1,Tier 2,Tier 3,Tie...
4     categories_en,code,product_name,brands,labels_...
5     Rank,Country,Cost of Living Index,Rent Index,C...
6     Serial No.,GRE Score,TOEFL Score,University Ra...
7     age,sex,bmi,children,smoker,region,charges\n19...
8     Lifter Name,Age,Weight Class,Lift Type,Amount ...
9     rownames,Region,Status,Sex,Cause,Rate,SE\n5,HH...
10    year,Season_type,PLAYER_ID,RANK,PLAYER,TEAM_ID...
11    Age,Pregnancy No,Weight,Height,BMI,Heredity,Pr...
12    area,X,Y,month,day,DMC,DC,ISI,temp,RH,wind,cal...
13    transaction_id,transaction_qty,store_id,store_...
14    Book Title,Author,Category,Price (TK),Stock St...
Name: DataRaw, dtype: object

In [6]:
data = data.set_index('DataSet')

In [7]:
data.head()

                                                                DataRaw
DataSet
066_IBM_HR            Age,Attrition,BusinessTravel,DailyRate,Departm...
067_TripAdvisor       ratings,title,text,author,date_stayed,offering...
068_WorldBank_Awards  Procurement Method,Fiscal Year,Project Global ...
069_Taxonomy          Unique ID,Parent,Name,Tier 1,Tier 2,Tier 3,Tie...
070_OpenFoodFacts     categories_en,code,product_name,brands,labels_...

In [8]:
import openai_test

In [9]:
for name, raw in data.itertuples():
    print(name)

066_IBM_HR
067_TripAdvisor
068_WorldBank_Awards
069_Taxonomy
070_OpenFoodFacts
071_COL
072_Admissions
073_Med_Cost
074_Lift
075_Mortality
076_NBA
077_Gestational
078_Fires
079_Coffee
080_Books

In [10]:
query = "Does the dataset contain any review that more than forty users have labeled as helpful?"
dataframe = data.loc['067_TripAdvisor']
result_df1 = openai_test.response_test(query, dataframe['DataRaw'])

In [11]:
print(result_df1)

{"Answer": "False"}

In [12]:
test_qa = pd.read_csv("/Users/tonypiacentini/csc-306-Project-4/src/data/test_qa.csv")  
test_qa.tail()

                                              question    dataset
517  List the titles of books with fewer than 200 p...  080_Books
518  List the categories of books with ratings abov...  080_Books
519  List the authors of books with more than 10 re...  080_Books
520  List the 5 categories of the last five books i...  080_Books
521  List the editions of books in the 'Business, I...  080_Books

In [13]:
test_qa = test_qa.set_index('dataset')

In [78]:
runner = 0
last_name = ""
final = []
for name, query in test_qa.itertuples():
    
    if (runner % 10 == 0):
        print(runner)
    dataframe = data.loc[name]
    result = openai_test.response_test(query, dataframe['DataRaw'])
    result = result.replace("{", "").replace("}", "")
    final.append(result)
    runner += 1

0
10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
200
210
220
230
240
250
260
270
280
290
300
310
320
330
340
350
360
370
380
390
400
410
420
430
440
450
460
470
480
490
500
510
520

In [79]:
print(final[0].split(":"))
print(fix_and_parse_json(final[0]))

["'Answer'", " 'True'"]
Still an error: Expecting value: line 1 column 1 (char 0)
None

In [113]:
def clean(final: list):
    answers = []
    for i in final:
        ans = i.split(":")[1]
        answers.append(ans.replace("\n", "").replace("'", "").replace("```","").replace('"',"").replace(" ",""))

In [83]:
import ast

def convert_string(s):
    """Convert a string to a list, boolean, or float if possible."""
    
    # Try converting to a boolean first
    if s.lower() == "true" or s.lower() == "yes" or s.lower() == "y":
        return True
    elif s.lower() == "false" or s.lower() == "no" or s.lower() == "n":
        return False

    # Try converting to a float
    try:
        return float(s)
    except ValueError:
        pass

    # Try converting to a list using ast.literal_eval
    try:
        if(len(s) != 0):
            list_val = []
            if s[0] == "[" and s[-1] == "]":
                for i in s.replace("[","").replace("]","").split(","):
                    list_val.append(convert_string(i))
                return list_val
    except (ValueError, SyntaxError):
        pass

    # If no conversion is possible, return the original string
    return s

In [114]:
valid = []
for i in answers:
    valid.append(convert_string(i))

In [115]:
print(valid[28])

[2.0, 1.0, 4.0, 3.0, 5.0]

In [91]:
def get_answers(prompts: list[str]):
    result_list = []
    for p in prompts:
        dataframe = data.loc[name]
        result = openai_test.response_test(query, dataframe['DataRaw'])
        result = result.replace("{", "").replace("}", "")
        result_list.append(result)
    final = clean(result_list)
    for i in final:
        converted = convert_string(i)
    return converted

In [72]:
from datasets import load_dataset
semeval_train_qa = load_dataset("cardiffnlp/databench", name="semeval", split="train")
semeval_dev_qa = load_dataset("cardiffnlp/databench", name="semeval", split="dev")

In [88]:
print(all_qa)

Dataset({
    features: ['question', 'answer', 'type', 'columns_used', 'column_types', 'sample_answer', 'dataset'],
    num_rows: 1308
})

In [76]:
all_qa = load_dataset("cardiffnlp/databench", name="qa", split="train")

In [108]:
qa_df = pd.DataFrame()

# Read the answers from the .txt files into separate lists
with open("/Users/tonypiacentini/csc-306-Project-4/src/data/answers.txt", "r") as f:
    answers = f.read().splitlines()

with open("/Users/tonypiacentini/csc-306-Project-4/src/data/answers_lite.txt", "r") as f:
    sample_answers = f.read().splitlines()

with open("/Users/tonypiacentini/csc-306-Project-4/src/data/semantics.txt", "r") as f:
    semantics = f.read().splitlines()

# Combine the lists into a DataFrame

# Load the dataset column from the specified file
test_qa["answer"] = answers
test_qa["sample_answer"] = sample_answers
test_qa["type"] = semantics

In [100]:
import pandas as pd
import numpy as np
import subprocess
import shlex
import zipfile

from datasets import Dataset
from databench_eval import Runner, Evaluator

In [118]:
qa = Dataset.from_pandas(test_qa.head(100))
evaluator = Evaluator(qa=qa)

In [119]:
print(f"DataBench_lite accuracy is {evaluator.eval(valid, lite=True)}")

100%|██████████| 100/100 [00:00<00:00, 15885.11it/s]

DataBench_lite accuracy is 0.36